.DS_Store
*.iml
idea
.idea
node_modules
src/.github
src/pub/media
.env
!/deployment/.env
!/deployment/.credentials

src/tools
src/pub
src/generated
src/phpserver
src/lib
src/dev
src/bin
src/setup
src/var
src/*.md
src/*.sample
src/*.txt
src/*.ini
src/*.dist
src/.editorconfig
src/.htaccess
src/vendor
src/*.yml

#src/app/Code